# Prevent npm from installing dependencies accidentally
engine-strict=true

# Force pnpm as package manager (matches package.json)
package-manager=pnpm@10.17.0

# Delay installing packages published too recently (e.g., <1 day)
minimum-release-age=1440

# Disallow running lifecycle scripts from dependencies (e.g. postinstall)
ignore-scripts=true

# Use the pnpmfile (if present)
use-pnpmfile=true

shamefully-hoist=true
